{
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": "*.yml",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
