x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"
    compress: "true"
x-healthcheck: &default-healthcheck
  interval: 1s
  retries: 10
  timeout: 3s

services:
  laravel:
    image: yinyang/php-fpm:php8.4
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./docker/php-fpm/php.dev.ini:/usr/local/etc/php/conf.d/99-php.ini
      - ./:/var/www/html
    ports:
      - "8000:80"
    networks:
      - yinyang_network
    logging:
      <<: *default-logging
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: yinyang
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - yinyang_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d yinyang"]
      <<: *default-healthcheck
    logging:
      <<: *default-logging

  redis:
    image: redis:7.4.0-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - yinyang_network
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      <<: *default-healthcheck
    logging:
      <<: *default-logging

  minio:
    image: minio/minio:RELEASE.2025-06-13T11-33-47Z-cpuv1
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - yinyang_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      <<: *default-healthcheck
    logging:
      <<: *default-logging

  mailpit:
    image: "axllent/mailpit:latest"
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - yinyang_network
    logging:
      <<: *default-logging

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  minio_data:
    driver: local

networks:
  yinyang_network:
    driver: bridge
